<div class="tours-list">
  <md-card *ngFor="let tour of tours" [routerLink]="['/tours', tour.objectId]" class="tour-card">
    <md-card-header>
      <md-card-title>{{tour.title}}</md-card-title>
    </md-card-header>
    <img md-card-image src="{{tour.avatarUrl}}">
    <md-card-content>
      <p>Категория: {{tour.category.name}}</p>
      <p>Локация: {{tour.location.name}}</p>
      <p>Сезон: {{tour.season}}</p>
      <p>Дата обновления: {{tour.updated | date: 'shortDate'}}</p>
      <p>Автор: {{tour.author.name}}</p>
      <p style="text-align:right">Цена: {{tour.price}}</p>
    </md-card-content>
  </md-card>
</div>